body {
    color:#f7f7f7
}
.h3, .label{
    fill:#f7f7f7
}
.list-group-item{
    background-color:#bdbdbd;
    color:#252525
}
.hovered-data-label, .selected-data-label{
    font-weight:bold;
    font-size:1.2rem;
    z-index:99;
}

.tooltip-inner{
    background-color:#bdbdbd;
    color:#252525
}